<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Videha Research Sitemap" stopProcessing="true">
          <match url="^sitemap\.xml$" />
          <action type="Rewrite" url="index.php?path=sitemap.xml" appendQueryString="false" />
        </rule>
        <rule name="Videha Research Articles" stopProcessing="true">
          <match url="^([0-9]{4}/[^/]+/.+\.(?:htm|html|pdf))$" ignoreCase="true" />
          <action type="Rewrite" url="index.php?path={R:1}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
